<!-- Oberer Abschnitt mit Bild & Vorstellung -->
<div class="container">
  <div class="left">
    <img src="profilbild.jpg" alt="Profilbild von Marko Kristo">
  </div>
  <div class="divider"></div>
  <div class="right">
    <h1>Marko Kristo</h1>
    <p>Ich bin Softwareentwickler in Umschulung mit Fokus auf moderne Webtechnologien wie Angular, Java und Spring Boot.
      Mit Leidenschaft für sauberen Code und benutzerfreundliche Lösungen bringe ich bereits praktische Projekterfahrung
      mit.</p>
    <div class="social-buttons">
      <a href="https://www.linkedin.com/in/marko-kristo-700457291
            " target="_blank" class="btn linkedin"><img src="linkedin-icon.png" alt=""></a>
      <a href="https://github.com/Marke1996" target="_blank" class="btn github"><img src="github-icon.png"
          class="github-icon"></a>
    </div>
  </div>
</div>
<!-- Berufserfahrung Abschnitt -->
<div class="experience-section">

  <div class="experience-header">
    <h2>Mein beruflicher Weg...</h2>
    <div class="experience-line"></div>
  </div>

  <div class="experience-container">
    <div class="exp-left">
      <div class="company-horizontal">
        <img src="wogra-logo.png" alt="WOGRA AG Logo" class="company-logo">
        <div class="company-info">
          <h3><img src="location.svg" class="location-icon">Gersthofen, Deutschland</h3>
        </div>
      </div>
    </div>
    <div class="exp-center">
      <span class="exp-date top">▼ 01/2025</span>
      <div class="exp-line"></div>
      <span class="exp-date bottom">▼ ▼ 03/2024</span>
    </div>

    <div class="exp-right">
      <div class="experience-content">
        <p>
          Entwicklung eines Kundenportals mit Angular & Spring Boot. Integration von Keycloak, REST APIs, PostgreSQL und
          agiles Arbeiten mit Jira.
        </p>
      </div>
    </div>

  </div>
  <div class="experience-container">
    <div class="exp-left">
      <div class="company-horizontal">
        <img src="logo-man.png" alt="WOGRA AG Logo" class="company-logo">
        <div class="company-info">
          <h3><img src="location.svg" class="location-icon">München, Deutschland</h3>
        </div>
      </div>
    </div>
    <div class="exp-center">
      <span class="exp-date top">▼ 07/2022</span>
      <div class="exp-line"></div>
      <span class="exp-date bottom">▼ ▼ 08/2016</span>
    </div>

    <div class="exp-right">
      <div class="experience-content">
        <p>
          Verantwortung für die termingerechte Materialversorgung am Montageband. Bedienung von Gabelstaplern,
          Koordination zwischen Lager und Produktion sowie flexible Einsätze in verschiedenen Logistikbereichen.
          Zusätzlich Schulung neuer Mitarbeiter und Optimierung interner Abläufe.
        </p>
      </div>
    </div>

  </div>
  <div class="experience-container">
    <div class="exp-left">
      <div class="company-horizontal">
        <img src="McDonald's-logo.png" alt="WOGRA AG Logo" class="company-logo">
        <div class="company-info">
          <h3><img src="location.svg" class="location-icon">Sangerhausen, Deutschland</h3>
        </div>
      </div>
    </div>
    <div class="exp-center">
      <span class="exp-date top">▼ 07/2016</span>
      <div class="exp-line"></div>
      <span class="exp-date bottom"> 12/2015</span>
    </div>

    <div class="exp-right">
      <div class="experience-content">
        <p>
          Verantwortung für die termingerechte Materialversorgung am Montageband. Bedienung von Gabelstaplern,
          Koordination zwischen Lager und Produktion sowie flexible Einsätze in verschiedenen Logistikbereichen.
          Zusätzlich Schulung neuer Mitarbeiter und Optimierung interner Abläufe.
        </p>
      </div>
    </div>

  </div>

</div>